.title {
    color: whitesmoke;
    font-size: 7vh;
    text-align: center;
    background-color:#f00000;

}
body {
    background-color:#f0f0f0;
    
  }

  #characters {
     
      background-size: 100%;
     
      color: #212121;
      font-size: 1.5vh; 
        line-height: 125%;
     text-transform: none; 
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
    font-family: "Flexo-Medium",arial,sans-serif;
    display: flex;
    justify-content: space-around;
    margin-left: 0.5vh;
   
   
  }
  html {
    box-sizing: border-box;
    font-size: 62.5%;
}
.box {
    border: black 3px groove;
    margin-inline: 0.5vh;
    text-align: center;
    margin-top: 0.5vh;
    background-color: mediumaquamarine;
}

